
/var/*
!/var/.htaccess

/vendor/*
!/vendor/.htaccess

/pub/media/*
!/pub/media/.htaccess

/pub/static/*
!/pub/static/.htaccess

/app/etc/env.php

/generated/*
!/generated/.htaccess

/.idea
/.vscode

/composer.phar

node_modules/

.DS_Store
Thumbs.db
